* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header-image img {
  max-width: 100%;
  max-height: 90%;
  object-fit: cover;
}

.heading {
  margin-top: 2%;
  font-family: "Playfair Display", serif;
}
