<div class="container-fluid">
    <div class="card">
        <div class="card-body card border-success added-quotes">
            <form>
                <input class="form-control form-control-lg" type="text" #quoteInput placeholder="Add quote here..." aria-label="default input example">
                <input class="form-control form-control-lg" type="text" #authorInput  placeholder="Author of the quote..." aria-label=".form-control-lg example">
                <input class="form-control form-control-lg" type="text" #usernameInput placeholder="Your name..." aria-label=".form-control-lg example">

                <div class="add-btn d-grid gap-2 d-md-flex justify-content-md-end">
                    <button (click)="addQuote(quoteInput.value, authorInput.value, usernameInput.value); quoteInput.value=''; authorInput.value=''; usernameInput.value=''" type="button" class="btn btn-success">Add Quote</button>
                </div>
            </form>
              <ul *ngFor="let quoteInput of quoteList" class="list-group list-group-flush">
                <app-display-quote [quoteInput]='quoteInput' ></app-display-quote>
                  <i (click)="deleteQuote(quoteInput.id)" class="fas fa-trash-alt fa-lg delete-icon"></i>
            </ul>
        </div>
    </div>

</div>
