.delete-icon, i {
    cursor: pointer;
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 3%;
    float: right;
}

.form-control, input {
    border: none;
    border-bottom: 1px solid gray;
    width: 50%;
    justify-items: center;
    align-items: center;
}
